{% extends "template.html" %}

{% block addition_css %}
<!-- <link href="/static/highlight.js/src/styles/rainbow.css" rel='stylesheet' /> -->
<style>
    #content {
        padding: 15px;
        border: solid 1px black;
    }
</style>
{% endblock %}

{% block addition_js %}
<script src="http://112.5.37.138:51370/recrepo/marked/marked.min.js"></script>
<!-- <script src="/static/highlight.js/src/highlight.js"></script> -->
<script>
    // axios.get('/v2.1/markdown/test.md').then(function (response) {
    //     document.getElementById('content').innerHTML =
    //         marked(response.data);
    //     $('table').attr('class', 'table table-hover');
    //     // hljs.initHighlightingOnLoad();
    // });
    document.getElementById('content').innerHTML =
        marked('{{ markdownstr }}');
    $('table').attr('class', 'table table-hover');
        // hljs.initHighlightingOnLoad();
</script>
{% endblock %}

{% block body %}
<div id='content'>

</div>
{% endblock %}